<div class="account-template">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-5/12 lg:w-5/12">
        <h1>Test</h1>        
      </div>
    </div>
    </div>
</div>